
<!--title-->
<div style="padding-bottom:15px">
    <a href="https://www.snopes.com" target="_blank" rel="noopener noreferrer" title="https://www.snopes.com"><h2><b>事实检测</b></h2></a>
</div>

<div class="layui-row" style="padding: 2px; background-color: #F2F2F2;">
    <div class="layui-card">
        <div style="padding:15px;"><p>提供事实检测服务。</p></div>
    </div>
</div>

<!--subnavigation-->
<div style="padding-top:15px; padding-bottom:15px;">
<span class="layui-breadcrumb" lay-separator="" style="visibility: visible;">
    <button type="button" onclick="Latest()"    id="snopes_latest_button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary"     title="来自Snopes编辑团队的最新事实调查和原始报告。">最新报告</button>
    <button type="button" onclick="Hot()"       id="snopes_hot_button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary"        title="读者正在查看的最热流言。">最热报告</button>
    <button type="button" onclick="Fact()"      id="snopes_fact_button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary"       title="最近研究的谣言和可疑说法">谣言辨别</button>
    <button type="button" onclick="Collections()" id="snopes_collection_button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary" title="查看同一话题下的的文章合集。">文章集合</button>
    <button type="button" onclick="News()"      id="snopes_news_button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary"       title="Snopes和其他人的原始报告。">原始报告</button>
    <button type="button" onclick="Archives()"  id="snopes_archive_button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary"    title="文章分类集合。">档案馆</button>
    <button type="button" onclick="Searching()" id="snopes_search_button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary"     title="搜索Snopes上的文章">搜索</button>
</span>
</div>

<!--searching-->
<div class="layui-row" id="snopes_searching_main" hidden style="padding: 2px; background-color: #F2F2F2;">
    <div class="layui-card">
        <h3 style="padding:15px; padding-bottom: 0px;">搜索</h3>
        <p style="padding-left:15px;">搜索Snopes上的相关文章。</p>
        <form class="layui-form" filter="default_filter" action="" style="padding-left:15px;">
            <div class="layui-form-item">
                <div class="layui-form-mid layui-word-aux">Please input what you want to search on Snopes.</div>
                <input type="text" name="snopes_searching_text" required  lay-verify="required" placeholder="e.g.Global warming" autocomplete="on" class="layui-input">
                <button class="layui-btn layui-bg-blue" style="margin-top: 10px;" lay-submit lay-filter="snopes_searching_button">搜索</button>
                <div id="snopes_searching" style="margin-top: 10px;"></div>
            </div>
        </form>
    </div>
</div>

<!--latest-->
<div class="layui-row" id="snopes_latest_main" style="padding: 2px; background-color: #F2F2F2;">
    <div class="layui-card">
        <h3 style="padding:15px; padding-bottom: 0px;">最新报告</h3>
        <p style="padding-left:15px;">来自Snopes编辑团队的最新事实调查和原始报告。</p>
        <div style="padding-left:15px; padding-bottom: 15px;">
            <button onclick="process_latest()" id="snopes_latest_button" class="layui-btn layui-bg-blue" style="margin-top: 10px;">获取最新报告</button>
            <div id="snopes_latest" style="margin-top: 10px;"></div>
        </div>
    </div>
</div>

<!--hot-->
<div class="layui-row" id="snopes_hot_main" hidden style="padding: 2px; background-color: #F2F2F2;">
    <div class="layui-card">
        <h3 style="padding:15px; padding-bottom: 0px;">最热报告</h3>
        <p style="padding-left:15px;">Snopes读者正在查看的最热流言。</p>
        <div style="padding-left:15px; padding-bottom: 15px;">
            <button onclick="process_hot()" id="snopes_hot_button" class="layui-btn layui-bg-blue" style="margin-top: 10px;">获取最热报告</button>
            <div id="snopes_hot" style="margin-top: 10px;"></div>
        </div>
    </div>
</div>

<!--fact-->
<div class="layui-row" id="snopes_fact_main" hidden style="padding: 2px; background-color: #F2F2F2;">
    <div class="layui-card">
        <h3 style="padding:15px; padding-bottom: 0px;">谣言辨别</h3>
        <p style="padding-left:15px;">Snopes最近研究的谣言和可疑说法。</p>
        <div style="padding-left:15px; padding-bottom: 15px;">
            <button onclick="process_fact()" id="snopes_fact_button" class="layui-btn layui-bg-blue" style="margin-top: 10px;">谣言辨别</button>
            <div id="snopes_fact" style="margin-top: 10px;"></div>
        </div>
    </div>
</div>

<!--collections-->
<div class="layui-row" id="snopes_collections_main" hidden style="padding: 2px; background-color: #F2F2F2;">
    <div class="layui-card">
        <h3 style="padding:15px; padding-bottom: 0px;">文章集合</h3>
        <p style="padding-left:15px;">查看同一话题下的的文章合集。</p>
        <div style="padding-left:15px; padding-bottom: 15px;">
            <button onclick="process_collections()" id="snopes_collections_button" class="layui-btn layui-bg-blue" style="margin-top: 10px;">获取文章集合</button>
            <div id="snopes_collections" style="margin-top: 10px;"></div>
        </div>
    </div>
</div>

<!--news-->
<div class="layui-row" id="snopes_news_main" hidden style="padding: 2px; background-color: #F2F2F2;">
    <div class="layui-card">
        <h3 style="padding:15px; padding-bottom: 0px;">原始报告</h3>
        <p style="padding-left:15px;">Snopes和其他人的原始报告。</p>
        <div style="padding-left:15px; padding-bottom: 15px;">
            <button onclick="process_news()" id="snopes_news_button" class="layui-btn layui-bg-blue" style="margin-top: 10px;">获取原始报告</button>
            <div id="snopes_news" style="margin-top: 10px;"></div>
        </div>
    </div>
</div>

<!--archives-->
<div class="layui-row" id="snopes_archives_main" hidden style="padding: 2px; background-color: #F2F2F2;">
    <div class="layui-card">
        <h3 style="padding:15px; padding-bottom: 0px;">档案馆</h3>
        <p style="padding-left:15px;">文章分类集合。</p>
        <div style="padding-left:15px; padding-bottom: 15px;">
            <button onclick="process_archives()" id="snopes_archives_button" class="layui-btn layui-bg-blue" style="margin-top: 10px;">获取档案馆</button>
            <div id="snopes_archives" style="margin-top: 10px;"></div>
        </div>
    </div>
</div>

<!--js-->
<script>
    layui.use('element', function () {
        var element = layui.element;
    });
    function Searching() {
        $("#snopes_searching_main").show()
        $("#snopes_latest_main").hide()
        $("#snopes_hot_main").hide()
        $("#snopes_fact_main").hide()
        $("#snopes_collections_main").hide()
        $("#snopes_news_main").hide()
        $("#snopes_archives_main").hide()
    }
    function Latest() {
        $("#snopes_searching_main").hide()
        $("#snopes_hot_main").hide()
        $("#snopes_fact_main").hide()
        $("#snopes_collections_main").hide()
        $("#snopes_news_main").hide()
        $("#snopes_archives_main").hide()
        $("#snopes_latest_main").show()
    }
    function Hot() {
        $("#snopes_searching_main").hide()
        $("#snopes_latest_main").hide()
        $("#snopes_fact_main").hide()
        $("#snopes_collections_main").hide()
        $("#snopes_news_main").hide()
        $("#snopes_archives_main").hide()
        $("#snopes_hot_main").show()
    }
    function Fact() {
        $("#snopes_searching_main").hide()
        $("#snopes_latest_main").hide()
        $("#snopes_hot_main").hide()
        $("#snopes_collections_main").hide()
        $("#snopes_news_main").hide()
        $("#snopes_archives_main").hide()
        $("#snopes_fact_main").show()
    }
    function Collections() {
        $("#snopes_searching_main").hide()
        $("#snopes_latest_main").hide()
        $("#snopes_hot_main").hide()
        $("#snopes_fact_main").hide()
        $("#snopes_news_main").hide()
        $("#snopes_archives_main").hide()
        $("#snopes_collections_main").show()
    }
    function News() {
        $("#snopes_searching_main").hide()
        $("#snopes_latest_main").hide()
        $("#snopes_hot_main").hide()
        $("#snopes_fact_main").hide()
        $("#snopes_collections_main").hide()
        $("#snopes_archives_main").hide()
        $("#snopes_news_main").show()
    }
    function Archives() {
        $("#snopes_searching_main").hide()
        $("#snopes_latest_main").hide()
        $("#snopes_hot_main").hide()
        $("#snopes_fact_main").hide()
        $("#snopes_collections_main").hide()
        $("#snopes_news_main").hide()
        $("#snopes_archives_main").show()
    }
    layui.use('form', function(){
        var form = layui.form;
        form.on('submit(snopes_searching_button)', function(data){
            $("#snopes_searching").text("Please wait a moment...");
            $.ajax({ 
				url:'/tools/Snopes/searching',   
				method:'post', 
				data:data.field,
				dataType:'text',
				success:function(receive){   
                    $("#snopes_searching").html(receive);
				},
                error:function(){
                    $("#snopes_searching").text("Error occurs in java service.");
                }
			});
            return false;
        });
    });
    function process_latest(){
        $("#snopes_latest").text("Please wait a moment...");
        $.ajax({ 
            url:'/tools/Snopes/latest',   
            method:'post', 
            dataType:'text',
            success:function(receive){   
                $("#snopes_latest").html(receive);
            },
            error:function(){
                $("#snopes_latest").text("Error occurs in java service.");
            }
        });
        return false;
    }
    function process_hot(){
        $("#snopes_hot").text("Please wait a moment...");
        $.ajax({ 
            url:'/tools/Snopes/hot',   
            method:'post', 
            dataType:'text',
            success:function(receive){   
                $("#snopes_hot").html(receive);
            },
            error:function(){
                $("#snopes_hot").text("Error occurs in java service.");
            }
        });
        return false;
    }
    function process_fact(){
        $("#snopes_fact").text("Please wait a moment...");
        $.ajax({ 
            url:'/tools/Snopes/fact',   
            method:'post', 
            dataType:'text',
            success:function(receive){   
                $("#snopes_fact").html(receive);
            },
            error:function(){
                $("#snopes_fact").text("Error occurs in java service.");
            }
        });
        return false;
    }
    function process_collections(){
        $("#snopes_collections").text("Please wait a moment...");
        $.ajax({ 
            url:'/tools/Snopes/collections',   
            method:'post', 
            dataType:'text',
            success:function(receive){   
                $("#snopes_collections").html(receive);
            },
            error:function(){
                $("#snopes_collections").text("Error occurs in java service.");
            }
        });
        return false;
    }
    function process_news(){
        $("#snopes_news").text("Please wait a moment...");
        $.ajax({ 
            url:'/tools/Snopes/news',   
            method:'post', 
            dataType:'text',
            success:function(receive){   
                $("#snopes_news").html(receive);
            },
            error:function(){
                $("#snopes_news").text("Error occurs in java service.");
            }
        });
        return false;
    }
    function process_archives(){
        $("#snopes_archives").text("Please wait a moment...");
        $.ajax({ 
            url:'/tools/Snopes/archives',   
            method:'post', 
            dataType:'text',
            success:function(receive){   
                $("#snopes_archives").html(receive);
            },
            error:function(){
                $("#snopes_archives").text("Error occurs in java service.");
            }
        });
        return false;
    }
</script>