<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>网络开源情报平台 --新一代网络技术与应用实验室</title>
    <link rel="stylesheet" href="./Frame/layui/css/layui.css">
    <link rel="stylesheet" href="./style.css" type="text/css"/>
    <link rel="stylesheet" href="./Frame/semantic.min.css" type="text/css"/>
    <script src="./Frame/layui/layui.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <!--导航-->
    <script>
      layui.use('element', function(){
        var element = layui.element;
      });
    </script>
    <ul class="layui-nav layui-bg-blue" lay-filter="">
      <li class="layui-nav-item"><a href="/home">首页</a></li>
			<li class="layui-nav-item"><a href="/tools">开源情报工具</a></li>
			<li class="layui-nav-item"><a href="/service">开源情报服务</a></li>
      <!--<li class="layui-nav-item"><a href="/database">开源情报知识库</a></li>
      <li class="layui-nav-item"><a href="/application">开源情报应用</a></li>-->
      <li class="layui-nav-item layui-this"><a href="">联系我们</a></li>
    </ul>

    <!--正文-->
    <div style="padding: 20px; background-color: #F2F2F2;">
      <div class="layui-card">
        <div class="layui-card-header">关于我们</div>
        <div class="layui-card-body">
          新一代网络技术与应用实验室, 清华大学电子工程系<br/>
          Lab of New Generation Network Technology & Applications(NGN), Department of Electronic Engineering, Tsinghua University<br/>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header">联系我们</div>
        <div class="layui-card-body">
          <!--huang-yz17@mails.tsinghua.edu.cn<br/>-->
          北京市海淀区双清路30号清华大学罗姆楼，100084
        </div>
      </div>
    </div>
    

    
  </body>
</html>